.foto1{height: 200px;
	width: 200px;
}
.foto2{height: 200px;
width: 200px;}
.foto3{height: 200px;
width: 200px;}
.foto4{height: 200px;
width: 200px;}
.jumbotron{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdov8ZeSbyTOtJ9l-hYRoWgn9eU3Gh2Z2pP8TdrQwdM_MQbJRdKQ);
background-size:contain;}
li{font-size: 130%;}
h2{background-color: #3399ff;}

body{color: grey;}
img{height: 177px;
width: 1150px;}